.hero {
	background-image: linear-gradient(to bottom right,#64d0d8, #63A4FF);
    min-height: 43.4rem;
    max-width: sticky;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}
	.hero__content {
		position: relative;
		text-align:  center;
		padding: 3rem 0;
	}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 20.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 25s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

