* {
  padding: 0px;
  margin: 0px;
}

.model {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
}

.content {
  width: 50%;
  height: 300px;
  margin-left: 25%;
  margin-top: 200px;
  background-color: white;
  display: inline-block;
}

.addform {
  padding: 20px;
  margin: 10px;
}

.addform input {
  width: 50%;
  height: 25px;
  margin-left: 25%;
  margin-bottom: 10px;
}

.addform button {
  margin-left: 40%;
}

.main {
  width: 70%;
  height: 500px;
  background-color: aqua;
  margin-left: 15%;
  margin-top: 130px;
  padding: 20px;
  display: inline-block;
}

.head {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.popup {
  width: 20%;
  height: 30px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-evenly;
}

.search input {
  width: 35%;
  height: 25px;
}

.table {
  width: 100%;
}

td,
th {
  text-align: center;
}
