*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#time{
    font-size: 8rem;
}
h1{
    margin-bottom: 3rem;
}
h2{
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

@media(max-width: 700px){
    #time{
        font-size: 6rem;
    }
}