body {
    font-family: Arial;
    font-size: 17px;
    padding: 9px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container-ds {
    background-color: #2e7bee63;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 35px;
    margin-left: 70px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 3px;
  }
  
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  

  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    } 
  }

  .text-in-form
  {
    color: #133B77;font-weight: bolder;
  }

  .navbar
  {
    font-size: 1.3rem;
  }
  .navbar-brand
  {
      font-size: 1.8rem;
  }

  .btn:hover {
    transform: scale(1.1);
  }
  .navbar-brand:hover {
    transform: scale(1.1);
  }
  
  
  
  .nav-link:hover {
    transform: scale(1.1);
  }
  .container-joinus
  {
    background-color: #FFE8EE;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 35px;
    margin-left: 70px;
  }

  .footer-icon
{
    color: black;
}
.footer-icon:hover{
    color: grey;
          
}
footer
{
    background-color: white;
    color: black;
}
@media (max-width: 800px) {
.img 
{
  width: 350px;
  height: 220px;
}  
}