.container{
    max-width: 600px;
    margin: 20px auto;
}

body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir"
}

.square{
    float: left;
    margin:1.66%;
    padding-bottom: 30%;
    width: 30%;
    background-color: purple;
    border-radius: 15%;
    transition: background 0.6s;
}

h1{
    color: white;
    margin: 0;
    text-align: center;
    background: steelblue;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

#message{
    display: inline-block;
    width: 15%;
}

button:hover{
    color: white;
    background: steelblue;
}

#stripe{
    background: white;
    height: 30%;
    text-align: center;
    color: black;
}

.selected{
    color: white;
    background: steelblue;
}