body{
    background-color: white;
    color: black;
    font-family: Courier New;
}

p{
    text-align:left;
    text-indent:20px;
    margin:70px;
}

li{
    padding: 20px;
}

ul{
   list-style-type: none;
   margin:1;
   padding: 40px;
}

#list1{
   padding-left:600px;
}

#list2{
    padding-left:720px;
}

#ollie{
    text-align:center;
}

a:link{
    color:black;
    text-decoration:none;
}

a:visited{
    color:black;
    text-decoration:none;
}

a:hover{
    color:grey;
    text-decoration:none;
}

#links{
    margin:auto;
    padding:10px;
    text-align:center;
    vertical-align:center;
}

h1{
    color: black;
    padding:40px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-style: normal;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}